
<div class="modal-body column">
   <div class="container">
    <div class="first-column">
        <h3 class="text-padd text-primary">User window</h3>
        <div class="chat-page">
            <div class="msg-indox">
                <div class="chats">
                    <div class="msg-page">    
                            <ng-container *ngFor="let message of messages" >
                                <div [ngClass]="{ 'received-chats': message.author === 'bot','outgoing-chats': message.author === 'user' }" >
                                    <div [ngClass]="{ 'received-chats-img': message.author === 'bot','outgoing-chats-img': message.author === 'user' }">
                                    </div>
                                    <div [ngClass]="{ 'received-msg': message.author === 'bot','outgoing-msg': message.author === 'user' }">
                                        <div [ngClass]="{ 'received-msg-inbox': message.author === 'bot','outgoing-chats-msg': message.author === 'user' }">
                                            
                                            <p>{{ message.content }} </p>
                                            <span class="time">{{ message.oppositeText }} </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </ng-container>
                            
                        </div>
                </div>
            </div>
            <div class="max-width">
                <div class="input-group">
                    <input [(ngModel)]="value" (keyup.enter)="sendMessage()" class="form-control" placeholder="Type message here..." type="text">&nbsp; &nbsp; 
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="sendMessage()" type="button">Send</button>&nbsp; &nbsp; 
                      <button *ngIf="!isRecording" class="btn btn-success" type="button" (click)="startRecording()"><i class="bi bi-record-btn-fill">Record</i></button>
                      <button *ngIf="isRecording" class="btn btn-danger" type="button" (click)="stopRecording()"><i class="bi bi-record-btn-fill">Stop</i></button>
                    </div>
                    <ng-template #dialogInfo>
                        <!-- <span [className]="'float-right'">Total messages: {{messages.length}}</span> -->
                    </ng-template>
                  </div>
                
            </div>
          </div>
    </div>
    <div class="second-column">
        <h3 class="text-padd text-primary">Live agent window</h3>
        <div class="chat-page">
            <div class="msg-indox">
                <div class="chats">
                    <div class="msg-page">    
                            <ng-container *ngFor="let message of agentMessages" >
                                <div [ngClass]="{ 'received-chats': message.author === 'bot','outgoing-chats': message.author === 'user' }" >
                                    <div [ngClass]="{ 'received-chats-img': message.author === 'bot','outgoing-chats-img': message.author === 'user' }">
                                    </div>
                                    <div [ngClass]="{ 'received-msg': message.author === 'bot','outgoing-msg': message.author === 'user' }">
                                        <div [ngClass]="{ 'received-msg-inbox': message.author === 'bot','outgoing-chats-msg': message.author === 'user' }">
                                            
                                            <p>{{ message.content }} </p>
                                            <span class="time">{{ message.oppositeText }} </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </ng-container>
                            
                        </div>
                </div>
            </div>
            <div class="max-width">
                <div class="input-group">
                    <input [(ngModel)]="value1" (keyup.enter)="sendAgentMessage()" class="form-control" placeholder="Type message here..." type="text">&nbsp; &nbsp; 
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="sendAgentMessage()" type="button">Send</button>&nbsp; &nbsp; 
                      </div>
                    <ng-template #dialogInfo>
                        <!-- <span [className]="'float-right'">Total messages: {{messages.length}}</span> -->
                    </ng-template>
                  </div>
                
            </div>
          </div>
    </div>
   </div>
  </div>