.button {
    margin-right: 20px
  }
  .button-active {
    background-color: #0275d8;
    color: white;
  }
  .button-active:hover,
  .button-active:focus {
    background-color: #0275d8;
    border-color: #0275d8;
    color: #fff;
  }
  .top-bar {
    margin: 25px 0;
  }